html{
box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}
body{
    background-color: teal;
}
.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.generatorOptions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.generatorOfContent{
    width: 600px;
    max-width: 100%;
    height: auto;
    align-items: flex-start;
    border: 2px solid black;
    margin-right: 30px;
    margin-top: 20px;

}
.generatorOption__button{
    width: 250px;
    padding: 40px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 22px;
}
.random{
    display: flex;
    justify-content:center
}